openai-whisper
torch
ffmpeg-python
sentence-transformers
keybert
joblib
pyyaml
numpy
langchain-openai
python-dotenv
gradio
fastapi
uvicorn
python-multipart
email-validator
passlib[bcrypt]
python-jose
bcrypt==4.0.1
