openai-whisper
torch
ffmpeg-python
sentence-transformers
keybert
joblib
pyyaml
numpy
langchain-openai
python-dotenv
gradio
cloudinary
google-generativeai
Pillow
fastapi
uvicorn
python-multipart
email-validator

